@use "tailwindcss" as *;
@use "./base" as *;

:root {
  --bg-color: #e5e7eb;
  --text-color: #121212;
}

.dark {
  --bg-color: #0A0F1C;
  --text-color: #F2F2F2;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}